<% include include/main-header %>
<style>
   label{
	   max-width:195px!important;
	   text-align:left!important;
	   margin-bottom:5pximportant;
	   color:#515151;
   }
   @media(min-width:768px){
   input[type="text"], select,textarea, input[type="password"] {
	   max-width:300px;
   }
   textarea{
	   height:100px!important;
   }
   
   }
   @media(min-width:992px){
    .submit-btn-setting{
	   margin-left:195px;
   }
   }
</style>
</head>
<body>
	<!-- navbar top -->
   	<div class="wrapper">
   		<!-- Header Starts here-->
  		<% include include/header %>
  		<!-- Header Ends here-->
  		
  		<div class="content" >
  			<!-- Sidebar Starts Here-->
  			<% include include/sidebar %>
    		<!-- Sidebar Ends Here-->
    		
    		<section>
      			<article>
      				<div id="page-wrapper">
        				<div class="row">
       						<!-- Page Header -->
        					<div class="col-lg-12">
								<div  CLASS="hidden-xs sidemenu"> <button id="menu" CLASS="btn btn-sm btn-danger" title="Menu"><i class="fa fa-bars fa-2x"></i></button></div>
        						<h1 class="page-header">Category</h1>
        					</div>
       						<!--End Page Header -->
        				</div>

           				<div class="row">
            				<div class="col-sm-12">
            					<% if (typeof queryStr !== 'undefined' && queryStr !== null) {
    								if(queryStr.error_msg) {	%>
									<div class="alert alert-danger alert-dismissable">
             							<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                						<%= queryStr.error_msg %>
            						</div>
            						<% }
           							if(queryStr.success_msg) {	%>
										<div class="alert alert-success alert-dismissable">
             								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                							<%= queryStr.success_msg %>
            							</div>
            						<%	}
            					}	%>
            					<form class="form-horizontal" action="/save/category" method="POST">
            						<input type="hidden" class="form-control" id="table_name" name="table_name" value="categories">
      								<input type="hidden" class="form-control" id="unique_field" name="unique_field" value="code">
      								<input type="hidden" class="form-control" id="id" name="id" value="<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) { %><%= contentObj._id %><% } %>">
      								<input type="hidden" class="form-control" id="editorField" name="editorField" value="<% if (typeof editorField !== 'undefined' && editorField !== null) { %><%= editorField %><% }else{ %>_id<% } %>">
      								<input type="hidden" class="form-control" id="editorValue" name="editorValue" value="<% if (typeof editorValue !== 'undefined' && editorValue !== null) { %><%= editorValue %><% } %>">
            						<div class="form-group">
                  						<label class="control-label col-md-3" for="first-name">Name<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                    						<input type="text" required="required" id="name" name="name" class="form-control col-md-5 col-xs-12" onblur="generate_code('name','code')" onkeyup="generate_code('name','code')" value="<% if (typeof contentObj.name !== 'undefined' && contentObj.name !== null) { %><%= contentObj.name %><% } %>">
                  						</div>
                					</div>
              						<div class="form-group">
                  						<label class="control-label col-md-3" for="">Code<span class="required">*</span></label>
                  						<div class="col-md-6 col-lg-4">
                   							<input type="text"  required="required" class="form-control col-md-5 col-xs-12" id="code" name="code" readonly value="<% if (typeof contentObj.code !== 'undefined' && contentObj.code !== null) { %><%= contentObj.code %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Order</label>
                  						<div class="col-md-6 col-lg-4">
                   							<input type="text"  class="form-control col-md-5 col-xs-12" id="order_by_num" name="order_by_num" value="<% if (typeof contentObj.order_by_num !== 'undefined' && contentObj.order_by_num !== null) { %><%= contentObj.order_by_num %><% } %>">
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Meta Description</label>
                  						<div class="col-md-6 col-lg-4">
                   							<textarea class="form-control col-md-5 col-xs-12" id="meta_description" name="meta_description"><% if (typeof contentObj.meta_description !== 'undefined' && contentObj.meta_description !== null) { %><%= contentObj.meta_description %><% } %></textarea>
                  						</div>
                					</div>
                					<div class="form-group">
                  						<label class="control-label col-md-3" for="">Meta Keywords </label>
                  						<div class="col-md-6 col-lg-4">
                   							<textarea class="form-control col-md-5 col-xs-12" id="meta_keywords" name="meta_keywords"><% if (typeof contentObj.meta_keywords !== 'undefined' && contentObj.meta_keywords !== null) { %><%= contentObj.meta_keywords %><% } %></textarea>
                  						</div>
                					</div>
                					<div class="form-group">
    									<label for="" class="col-sm-3 control-label">Status</label>
    									<div class="col-sm-9">
    										<div class="radio" STYLE="float:left; margin-right:10px;">
      		  									<label> <input type="radio" id="Status" name="Status" value="1" <% if (typeof contentObj.Status !== 'undefined' && contentObj.Status !== null && contentObj.Status == 1) { %>checked<% } %> > <strong style="font-weight:600">Active</strong></label>
    			  							</div>
				  							<div class="radio" STYLE="float:left;">
      		  									<label> <input type="radio" id="Status" name="Status" value="0" <% if (typeof contentObj.Status !== 'undefined' && contentObj.Status !== null && contentObj.Status == 0) { %>checked<% } %> > <strong style="font-weight:600">Inactive</strong></label>
    			  							</div>
										</div>
									</div>
                					<div class="form-group">
                   						<div class="col-md-9 col-lg-6">
               								<div class="submit-btn-setting"> <button type="submit" class="btn palette-belize-hole btn-color margn-right-15">Submit</button>
               								<% if (typeof contentObj._id !== 'undefined' && contentObj._id !== null) {	%>
               									<a href="/list/categories" class="btn btn-primary">Cancel</a>
               								<%	}else{	%>
               									<button type="reset" class="btn btn-primary">Reset</button>
               								<% } %>
               								</div>
               							</div>
                					</div>
              					</form>
              				</div>
            			</div>
      				</div>
      			</article>
    		</section>
    		<!--//body content--> 
  		</div>
  		<!--//Main Content--> 
	</div>

<!-- Footer Starts Here-->
	<% include include/footer %>
<!-- Footer Ends Here-->

<!-- Page-Level Plugin Scripts-->
<script>
function generate_code(name,code){
	var val=document.getElementById(name).value;
	var patt=/[^A-Za-z0-9_-]/g;
	var result=val.replace(patt,' ');
	result=result.replace(/\s+/g, ' ');
	result = result.replace(/^\s+|\s+$/g,'');
	result=result.replace(/\s/g, '-');
	result=result.toLowerCase();
	document.getElementById(code).value=result;
}
</script>
</body>
</html>